
.fm-dark {
    background-color: #2C3E50;
}

.fm-bg-green{
    background-color: #1ABC9C;
    color: white;
}

.fm-img-width{
    width: 40%;
}

.fm-white{
    color: white;
}

#contact{
    height: 800px;
}

.btn-outline-dark{
    color: white;
    border: 1px solid white;
}

.btn-success{
    background-color: #1ABC9C;
    border: none;
}

.fm-mt-200{
    margin-top: 200px;
}

footer {
    background-color: #2C3E50;
    color: white;
    height: 600px;
}

.social i{
    padding: 10px;
}

a{
    color: #1ABC9C;
    text-decoration: none;
}
